.navbar-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(0.25turn, lightblue, rgb(162, 162, 255))
}

.title-stuff {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.user-link {
    text-decoration: none;
}

.navbar-style {
    & h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        text-decoration: underline overline;
        color: black;
        margin-top: 12px;
    }

    & h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        color: black;
        margin-top: 12px;
        margin-left: 30px;
    }
}