.login-box {
    height:650px;
    background-image: url("./img/giphy.gif");
    background-size: cover;
    background-position:center;
    /* background-attachment: fixed; */
    text-align: center;
  }

  .nav-item:hover {
    background-color: lightgray;
  }

  .container {
    display: flex;
    justify-content: space-around;
    /* background-color: aquamarine; */
  }